.ArticlePage-container
  width: 1240px
  margin: auto
  display: flex
  flex-direction: column
  justify-content: space-around
  border: 1px solid red
  text-align: center
  height: calc(81vh - 70px)

