.ArticlePage-container
  width: 1240px
  margin: auto
  display: flex
  flex-direction: column
  justify-content: flex-start
  border: 1px solid red
  text-align: center
  height: calc(81vh - 70px)
  img
    width: 100%
    height: 50%
    object-fit: cover
    top: 0px
  .sous-photo
    display: flex
    top: 20px
    .sous-photo-gauche
      display: flex
      flex-direction: column
      justify-content: space-between
      text-align: left
      width: 100%
      .groupe
        display: flex
        height: 77px
        flex-direction: row
        justify-content: space-between
        justify-items: center
        padding: 10px 0px
        align-items: center
        .droite
          display: flex
          flex-direction:  row
          align-content: center
          img
            height: 64px
            width: 64px
            border-radius: 50%
            margin-left: 20px
          p
            display: flex
            text-align: right
            width: 50px
            color: #ff6060
            padding-right: 20px
            font-weight: 500
            font-size: 18px
            align-items: center
      h2
        color: #ff6060
        font-size: 36px
        font-weight: 500
      p
        font-size: 18px
        font-weight: 500
      .tag
        display: flex
        flex-direction: row
        p
          background-color: #ff6060
          color: white
          border-radius: 25px
          height: 36px
          padding: 0px 30px
          align-content: center
          margin-right: 20px
          font-size: 14px
          font-weight: 700
    .groupe-description
      display: flex
      flex-direction: row
      width: 100%
      justify-content: space-between
      text-align: left
      .DropDown
        display: flex
        width: 47%
        background-color: #ff6060
        color: white
        border: 1px solid red
        border-radius: 10px
        padding: 10px
        justify-content: space-between
        align-items: center
        p
          background-color: transparent
          font-size: 18px
          font-weight: 700
        img
          background-color: transparent
          height: 20px
          width: 20px


.star
  display: flex
  i
    font-size: 36px
    padding-left: 10px
.orange
  color: #ff6060
.grey
  color: #E3E3E3

