* {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.nav-bar {
  margin: auto;
  height: 7vh;
  width: 1240px;
  padding: 0px;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0px 30px 0px;
}
.nav-bar img {
  height: 68px;
  justify-content: center;
}
.nav-bar ul {
  align-items: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
  font-size: 24px;
}
.nav-bar ul li {
  cursor: pointer;
  padding: 0px 40px;
}
.nav-bar ul li :active {
  text-decoration: underline;
}
@media (max-width: 800px) {
  .nav-bar {
    font-family: sans-serif;
    color: orange;
  }
}

footer {
  width: 100%;
  height: 12vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin: 20px auto;
}
footer img {
  background-color: black;
  width: 122px;
  height: 40px;
}
footer p {
  background-color: black;
  font-size: 24px;
  color: #fff;
}

.banner {
  width: 1240px;
  margin: auto;
  height: 15vh;
  align-content: center;
  align-items: center;
  position: relative;
  display: flex;
  padding-bottom: 30px;
}
.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(0.5);
}
.banner p {
  color: white;
  width: 100%;
  position: absolute;
  background-color: transparent;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

.container-shadow {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  width: 1240px;
  margin: auto;
  border-radius: 25px;
  overflow: hidden;
}
.container-shadow::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background: linear-gradient(to top, rgba(246, 246, 246, 0.9), rgba(246, 246, 246, 0));
  z-index: 10;
}
.container-shadow .container-logement {
  width: 1240px;
  margin: auto;
  display: grid;
  height: calc(68vh - 190px);
  grid-auto-rows: 280px;
  grid-template-columns: 280px 280px 280px;
  gap: 50px;
  background-color: #f6f6f6;
  border-radius: 25px;
  justify-content: center;
  padding: 30px 0px;
  overflow: scroll;
  position: relative;
}
.container-shadow .container-logement .link-article {
  border-radius: 25px;
}
.container-shadow .container-logement .link-article .logement {
  border-radius: 25px;
  overflow: clip;
  position: relative;
  height: 100%;
}
.container-shadow .container-logement .link-article .logement::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  z-index: 1;
}
.container-shadow .container-logement .link-article .logement img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.container-shadow .container-logement .link-article .logement p {
  position: absolute;
  font-size: 18px;
  font-weight: 700;
  z-index: 2;
  color: white;
  width: calc(100% - 20px);
  height: 10%;
  bottom: 0px;
  left: 0px;
  justify-items: center;
  padding: 0px 10px 30px 10px;
  overflow-wrap: anywhere;
  background-color: transparent;
}

.not-found {
  width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: calc(81vh - 70px);
}
.not-found h2 {
  color: #FF6060;
  font-weight: 700;
  font-size: 288px;
}
.not-found p {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
}
.not-found a {
  font-size: 18px;
  font-weight: 500;
}

.container {
  height: calc(66vh - 100px);
  display: flex;
  flex-direction: column;
}

.dropdown-container {
  width: 1024px;
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
}
.dropdown-container p {
  background-color: transparent;
}

.header {
  background-color: #ff6060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  color: white;
  cursor: pointer;
}
.header h2 {
  background-color: transparent;
}

.arrow {
  background-color: transparent;
  width: 30px;
  height: 20px;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  background-color: #f6f6f6;
  transition: all 0.5s ease;
  padding: 0 20px;
}

.content.open {
  max-height: 300px;
  padding: 20px;
}

.ArticlePage-container {
  width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid red;
  text-align: center;
  height: calc(81vh - 70px);
}

* {
  margin: 0;
}

body {
  height: 100vh;
}

/*# sourceMappingURL=App.css.map */
