* {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

nav {
  max-width: 1240px;
  width: 90%;
  margin: auto;
  height: 10%;
  position: relative;
}
@media (max-width: 750px) {
  nav {
    width: 90%;
  }
}
nav .nav-bar {
  margin: auto;
  height: 100%;
  width: 100%;
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0px 10px 0px;
  box-sizing: border-box;
}
nav .nav-bar img {
  height: 68px;
  justify-content: center;
}
@media (max-width: 750px) {
  nav .nav-bar img {
    height: 35px;
    width: 120px;
  }
}
nav .nav-bar ul {
  align-items: center;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 500;
  font-size: 24px;
}
@media (max-width: 750px) {
  nav .nav-bar ul {
    font-size: 12px;
  }
}
nav .nav-bar ul li {
  cursor: pointer;
  padding: 0px 0px 0px 40px;
}
@media (max-width: 750px) {
  nav .nav-bar ul li {
    padding: 0 0 0 20px;
  }
}
nav .nav-bar ul li a {
  text-decoration: none;
}

footer {
  width: 100%;
  height: 10%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  padding: 20px 0px 20px 0px;
  box-sizing: border-box;
}
@media (max-width: 750px) {
  footer {
    height: 20%;
    bottom: 0;
  }
}
footer img {
  background-color: black;
  width: 122px;
  height: 40px;
}
@media (max-width: 750px) {
  footer img {
    height: 40px;
    width: 122px;
  }
}
footer p {
  background-color: black;
  font-size: 24px;
  color: #fff;
}
@media (max-width: 750px) {
  footer p {
    font-size: 12px;
    width: 100px;
    padding-top: 15px;
  }
}

.banner {
  max-width: 1240px;
  width: 90%;
  margin: auto;
  height: 17%;
  align-content: center;
  align-items: center;
  position: relative;
  display: flex;
  padding-bottom: 30px;
}
.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  filter: brightness(0.5);
}
.banner p {
  color: white;
  width: 100%;
  position: absolute;
  background-color: transparent;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}
@media (max-width: 750px) {
  .banner p {
    text-align: left;
    width: 50%;
    font-size: 18px;
    transform: translateX(20px);
  }
}

.container-shadow {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: center;
  max-width: 1240px;
  margin: auto;
  border-radius: 25px;
  overflow: hidden;
  height: 63%;
}
@media (max-width: 750px) {
  .container-shadow {
    height: 53%;
  }
}
.container-shadow::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background: linear-gradient(to top, rgba(246, 246, 246, 0.9), rgba(246, 246, 246, 0));
  z-index: 1;
}
.container-shadow .container-logement {
  max-width: 1240px;
  width: 100%;
  margin: auto;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, minmax(30%, 320px));
  gap: 50px;
  background-color: #f6f6f6;
  border-radius: 25px;
  justify-content: center;
  padding: 30px 20px;
  overflow: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: relative;
}
@media (max-width: 500px) {
  .container-shadow .container-logement {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
@media (min-width: 501px) and (max-width: 750px) {
  .container-shadow .container-logement {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
.container-shadow .container-logement .link-article {
  border-radius: 25px;
}
.container-shadow .container-logement .link-article .logement {
  border-radius: 25px;
  overflow: clip;
  position: relative;
  height: 100%;
  aspect-ratio: 1/1;
}
@media (max-width: 750px) {
  .container-shadow .container-logement .link-article .logement {
    aspect-ratio: 1/0.6;
  }
}
.container-shadow .container-logement .link-article .logement::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  z-index: 1;
}
.container-shadow .container-logement .link-article .logement img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.container-shadow .container-logement .link-article .logement p {
  position: absolute;
  font-size: 0.8em;
  font-weight: 700;
  z-index: 2;
  color: white;
  width: calc(100% - 20px);
  height: 10%;
  bottom: 0px;
  left: 0px;
  justify-items: center;
  padding: 0px 10px 40px 10px;
  overflow-wrap: anywhere;
  background-color: transparent;
}
@media (max-width: 855px) {
  .container-shadow .container-logement .link-article .logement p {
    font-size: 0.8em;
  }
}

.not-found {
  max-width: 1240px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 80%;
}
@media (max-width: 750px) {
  .not-found {
    padding: 30px 0;
    height: 70%;
  }
}
.not-found h2 {
  color: #FF6060;
  font-weight: 700;
  font-size: 288px;
}
@media (max-width: 750px) {
  .not-found h2 {
    font-size: 96px;
  }
}
.not-found p {
  font-size: 36px;
  font-weight: 500;
  color: #FF6060;
}
@media (max-width: 750px) {
  .not-found p {
    font-size: 18px;
  }
}
.not-found a {
  font-size: 18px;
  font-weight: 500;
}
@media (max-width: 750px) {
  .not-found a {
    font-size: 14px;
  }
}

.container {
  height: 63%;
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
}
@media (max-width: 750px) {
  .container {
    min-height: 53%;
    height: auto;
  }
}

.dropdown-container {
  max-width: 80%;
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
}
.dropdown-container p {
  background-color: transparent;
  font-size: 0.8em;
  padding: 0px 20px;
}

.header {
  background-color: #ff6060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}
.header h2 {
  background-color: transparent;
  font-size: 1.3em;
}

.arrow {
  background-color: transparent;
  width: 30px;
  height: 20px;
  transition: transform 0.3s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

.content {
  max-height: 0;
  overflow: hidden;
  background-color: #f6f6f6;
  transition: all 0.3s ease-in-out;
  padding: 0 20px;
}

.content.open {
  max-height: 300px;
  padding: 10px;
}

.ArticlePage-container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  height: 80%;
}
.ArticlePage-container .images_container {
  display: flex;
  height: 50%;
  position: relative;
}
.ArticlePage-container .images_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 10px;
  position: relative;
  border-radius: 25px;
  box-sizing: border-box;
}
.ArticlePage-container .images_container .overlay {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  background-color: transparent;
  padding: 0px 10px;
}
.ArticlePage-container .images_container .overlay i {
  background-color: transparent;
  cursor: pointer;
  align-content: center;
  font-size: 60px;
  padding: 0px;
  color: white;
}
.ArticlePage-container .images_container .overlay p {
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  display: flex;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  background-color: transparent;
}
.ArticlePage-container .sous-photo {
  padding: 10px 0;
  display: flex;
  top: 20px;
}
.ArticlePage-container .sous-photo .sous-photo-gauche {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  width: 100%;
}
.ArticlePage-container .sous-photo .sous-photo-gauche .groupe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  padding: 10px 0px;
  align-items: center;
}
.ArticlePage-container .sous-photo .sous-photo-gauche .groupe .droite {
  display: flex;
  flex-direction: row;
  align-content: center;
}
.ArticlePage-container .sous-photo .sous-photo-gauche .groupe .droite img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin-left: 20px;
}
.ArticlePage-container .sous-photo .sous-photo-gauche .groupe .droite p {
  display: flex;
  text-align: right;
  width: 50px;
  color: #ff6060;
  padding-right: 20px;
  font-weight: 500;
  font-size: 1em;
  align-items: center;
}
.ArticlePage-container .sous-photo .sous-photo-gauche h2 {
  color: #ff6060;
  font-size: 1.5em;
  font-weight: 500;
}
.ArticlePage-container .sous-photo .sous-photo-gauche p {
  font-size: 1em;
  font-weight: 500;
}
.ArticlePage-container .sous-photo .sous-photo-gauche .tag {
  display: flex;
  flex-direction: row;
}
.ArticlePage-container .sous-photo .sous-photo-gauche .tag p {
  background-color: #ff6060;
  color: white;
  border-radius: 25px;
  height: 36px;
  padding: 0px 30px;
  align-content: center;
  margin-right: 20px;
  font-size: 0.8em;
  font-weight: 700;
}
.ArticlePage-container .sous-photo .groupe-description {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  text-align: left;
}
.ArticlePage-container .sous-photo .groupe-description .DropDown_container {
  width: 48%;
}
.ArticlePage-container .sous-photo .groupe-description .DropDown_container .DropDown {
  display: flex;
  width: auto;
  background-color: #ff6060;
  color: white;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
.ArticlePage-container .sous-photo .groupe-description .DropDown_container .DropDown p {
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
}
.ArticlePage-container .sous-photo .groupe-description .DropDown_container .DropDown img {
  background-color: transparent;
  cursor: pointer;
  height: 20px;
  width: 30px;
  transition: transform 0.2s linear;
}
.ArticlePage-container .sous-photo .groupe-description .DropDown_container .DropDown_desc {
  background-color: #f6f6f6;
  padding: 0;
  transition: max-height 0.3s linear;
  overflow: hidden;
}
.ArticlePage-container .sous-photo .groupe-description .DropDown_container .DropDown_desc p {
  background-color: transparent;
  padding: 20px;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}
.ArticlePage-container .sous-photo .groupe-description .DropDown_container .DropDown_desc ul {
  list-style: none;
  background-color: transparent;
  padding: 10px 0px 10px 20px;
}
.ArticlePage-container .sous-photo .groupe-description .DropDown_container .DropDown_desc ul li {
  background-color: transparent;
  font-weight: 300;
  padding: 2px 0;
  font-size: 14px;
}

.star {
  display: flex;
}
.star i {
  font-size: 1.7em;
  padding-left: 10px;
}

.orange {
  color: #ff6060;
}

.grey {
  color: #E3E3E3;
}

.isOpen {
  transform: rotate(180deg);
}

.isClosed {
  transform: rotate(0deg);
}

.visible {
  background-color: #f6f6f6;
  max-height: 500px;
  padding: 10px;
}

.invisible {
  max-height: 0px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(81vh - 70px);
  width: 100%;
}

.loader {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before, .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 5px solid #ff6060;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  border-color: #000;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
* {
  margin: 0;
  box-sizing: border-box;
}

*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#root {
  height: 100vh;
  width: 100vw;
  position: relative;
}

/*# sourceMappingURL=App.css.map */
